<a href="https://colab.research.google.com/github/zoegracecolsenet/Docs/blob/main/PythontaskszoeColsenet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#convert hours into seconds
def hourstosecs(hours):
  seconds=hours*3600
  return seconds

x= 2
y= hourstosecs(x)
print(y)

7200

In [14]:
#⁠Given a list of numbers. write a program to turn every item of a list into its square
numbers= [ 1,2,3,4,54,6,7,8,9]
numbers2 = []
for i in numbers:
  a=i**2
  numbers2.append(a)

print(numbers2)

[1, 4, 9, 16, 2916, 36, 49, 64, 81]

In [27]:
#⁠Given two strings, s1 and s2. Write a program to create a new string s3 made of the first char of s1, then the last char of s2, Next, the second char of s1 and second last char of s2, and so on. Any leftover chars go at the end of the result.
stringggg1="zoe"
stringggg2="guillerheme"

s1calculator= len(stringggg1)
s2calculator= len(stringggg2)

x= min(s1calculator,s2calculator)

finalstring=""
for i in range(0, x):
  finalstring= finalstring+stringggg1[i]+stringggg2[-(i+1)]


if s1calculator > s2calculator:
  biggerstring = stringggg1[i : s1calculator]
else:
  biggerstring = stringggg2[0 : -(i+1)]


print(finalstring+biggerstring)

zeomeeguillerh

In [29]:
#⁠Get the key of a minimum value from the given dictionary
dictionary = {'a': 6, 'b': 8, 'c': 2, 'd': 1}

minkey = min(dictionary, key=dictionary.get)

print(minkey)

d

In [30]:
#⁠Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 1 + 11 + 111 + 1111 + 11111

n = 5
term = 0
total = 0

for i in range(n):
    term = term * 10 + 1
    total += term
    print(term, end=" ")

print("\nSum of series:", total)

1 11 111 1111 11111
Sum of series: 12345

In [32]:
#⁠Calculate multiplication of two random float numbers (generate random number first)
import random

z = random.uniform(1.0, 10.0)
gui = random.uniform(1.0, 10.0)

product = z * gui

print("Random float z:", z)
print("Random float g:", gui)
print("Product:", product)

Random float z: 4.082715377202369
Random float g: 5.5834832381796
Product: 22.79577287486753